body {
    background-image: url("../img/world-36479.png");
    background-size: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 20px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 12px;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 8px;
}

input, textarea, p, table, tr, td, details {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
}

tr, td, details {
    max-width: 540px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.analysis {
    background-color: #4CAF50;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    outline: none;
}

/* When moving the mouse over the submit button, add a darker green color */
.analysis:hover {
    background-color: #45a049;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.highlight {
    color: #AAC210;
    font-size: 36px;
}

.orange-highlight {
    color: #FDA100;
    font-size: 36px;
}

.red-highlight {
    color: #E10000;
    font-size: 36px;
}

.logo {
    text-align: center;
    margin: 20px;
}

.topcontainer {
    border-radius: 4px;
    border-color: #45a049;
    padding: 20px;
	width:800px;
    margin: 0 auto;
    display: block;
    
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
	width: 800px;
    margin: 0 auto;
    display: block;
    
}

.container2 {
    border-radius: 4px;
    display: inline-block;
    width: 48%;
    /*margin: 0 auto;*/
}

.container3 {
    text-align: center;
    position: relative;
    display: block;
}

.container-mobile {
    border-radius: 4px;
    display: none;
}

.space {
    padding-left: 24px;
}

.shadow-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-2 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.score-card {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 240px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    position: relative;
    display: inline-block;
}

.score-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
    position: relative;
}

.score-card img {
    width: 100px;
    float: left;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.score-card h2 {
    float: right;
    padding-top: 0px;
    line-height: 36px;
}

.results {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.results p, td {
    font-size: 16px;
    line-height: 24px;
}

.result-table-mobile {
    display: none;
}

summary {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}

td {
    vertical-align: top;
    min-width: 160px;
}

.scrollable {
    max-height: 200px;
    overflow-y: scroll;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.plot {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
}

.hidden {
    display: none;
}

.analysis.spinning {
    padding-right: 40px;
}

.analysis.spinning:before {
    content: "";
    border-radius: 50%;
    right: 340px;
    top: 50%;
    position: absolute;
    border-right: 3px solid #FFFFFF;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}

@keyframes rotate360 { 
    100% {
        transform: rotate(360deg);
    }
}
@keyframes exist { 
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}

@media only screen and (max-width: 800px) {
    body {
        padding: 0px;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.9);
        width: 90%;
    }

    .container2 {
        display: none;
    }

    .container-mobile {
        display: inline-block;
        width: 100%;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    h2 {
        line-height: 24px;
    }

    .result-table {
        display: none;
    }

    .result-table-mobile {
        display: inline-block;
        width: 100%;
    }

    input[type=text], select, textarea {
        width: 100%; /* Full width */
    }

    .analysis.spinning {
        padding-right: 20px;
        background-color: rgb(60, 133, 61);
        cursor: not-allowed;
    }

    .analysis.spinning:before {
        display: none;
    }

    details {
        max-width: 90%;
    }

    .scrollable {
        max-width: 95%;
        max-height: 200px;
        overflow-y: scroll;
    }
}