<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="container shadow-1">
      <div class="logo">
        <a href="https://www.cdnetworks.com"><img class="responsive" src="{{ url_for('static', filename='SpeedTestLogo2.png') }}" align="center"></a>
      </div>
      <div class="container3">
        <h2>Connection error. Please check if you have provided a valid URL.</h2>
      </div>
      <br>
      <div class="container3">
        <form action = "/">
          <button class="analysis" type="submit" value="Return">Return</button>
        </form>
      </div>
    </div>
  </body>
</html>